.b-matrix
  position            fixed
  display             inline-block
  transition          top .33s ease-in-out
  transition-property top, left

  &__cell
    position            absolute
    z-index             128
    vertical-align      top
    transition          opacity .33s ease-in-out
    transition-property opacity, transform, z-index
    opacity             1

    &:before
      content    ''
      position   absolute
      top        0
      left       0
      height     100%
      width      100%
      z-index    3
      box-shadow inset 0 0 0 16px rgba(0, 128, 255, 0), 0 0 32px 4px rgba(0, 0, 0, 0)
      transition box-shadow .33s ease-in-out

    &_current
      z-index   256
      transform scale(1.25)

      &:before
        box-shadow inset 0 0 0 16px rgba(0, 128, 255, 0.66), 0 0 32px 4px rgba(0, 128, 255, 0.66)

    &_loading
      opacity    0.25

  &__image
    vertical-align top
    position       relative
    z-index        1

  &__number
    position    absolute
    z-index     2
    top         16px
    left        24px
    font-size   24px
    opacity     0.5
    font-weight 400
    color       #fff
    text-shadow:
             1px -1px 1px #000,
             1px    0 1px #000,
             1px  1px 1px #000,
               0 -1px 1px #000,
               0  1px 1px #000,
            -1px -1px 1px #000,
            -1px    0 1px #000,
            -1px  1px 1px #000;
